body {
background-color: beige;
font-family: Georgia, serif;
color: darkslategray;
margin: 0;
padding: 0;
}

header {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 20px
}

main {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

li strong {
    color: maroon;
}